DISCORD_TOKEN=MTUzNjE0NDM3OTYyNDgyNDg4Mw.GLKoia.rRnNmQ7NwJql1j-LTGeEam7ADCtlzXAkHvhJfk
DISCORD_CLIENT_ID=1536144379624824883
DISCORD_GUILD_ID=1371583696465039471
API_BASE_URL=https://capi.insideproxy.me
DISCORD_CLIENT_SECRET=ImlpDflrplE5EnfWmbP3_hRmB-1QfrmA
DISCORD_PUBLIC_KEY=8141543f9e937c61ae0cf84462417522fff69850f88543ada68833cba15c4816
API_BASE_URL_SECONDARY=https://capi.capysploit.workers.dev
BOT_API_KEY="your-secret-key"
